.caja {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #889ccf;
    background: #e3edf7 ;
    margin: 0 0 30px;
    overflow: hidden; 
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.caja2 {
    display: flex;
    justify-content: space-between;
}

.caja211  {
    margin: auto;
    padding: 12px;
}

.img1 {
    margin: auto;
    padding: 10px;
    width: 250px;
}

.caja3{
    display: flex;
    justify-content: space-between;
}

.caja3 article{
    margin: 100px;
    padding: 12px;
}
.img2 {
    margin: auto;
    padding: 10px;
    width: 250px;
}

.caja4{
    margin: auto;
    display: flex;
    justify-content: space-between;
}

p.monos{
    font-family: monospace;
}

.btn-hover a {
    margin-left: 16px;
    padding: 30px;
    border-radius:28px;
    background: #e3edf7;
    box-shadow: 6px 6px 20px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 20px -1px rgba(255, 255, 255, 0.7);  
}

.btn-hover a:hover{
    box-shadow: inset 4px 4px 10px -1px rgba(0, 0, 0, 0.15),
        inset -4px -4px 10px -1px rgba(255, 255, 255, 0.7);
}

.buttonn {
    
    background-color:#44c767;
    position: relative;
    margin-left: 600px;
    border-radius:28px;
    border:1px solid #18ab29;
    cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.buttonn:hover{
    background-color:#5cbf2a;
}



